body {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #ffffff;
  background-image: url("2.jpg");

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.theme {
  color: white;
  background-color: rgba(23, 206, 66, 0.6);
}

.content-section {
  background-color: rgba(23, 206, 66, 0.34);

}

.section-header {
  position: relative;
  height: 2.8em;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

.section-header__text {
  display: inline-block;
  margin-top: 0.8em;
}
